@import "../../../shared/common";

div.materials-search
{
    @include content-block();
    flex-direction: row;

    max-width: 560px;
    width: 100%;

    gap: 10px;

    div.group-component div.group-content
    {
        @include content-block();
        flex-direction: row;
        gap: 10px;

        div.text-input {
            width: 100%;
        }

        div.button-component
        {
            min-width: fit-content;
        }
    }
}
