div.title-page section.latest-materials-block {
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;

    justify-content: center;
    gap: 20px;

    article.material {
        display: flex;
        max-width: 320px;

        height: fit-content;
        flex-direction: column;
        cursor: pointer;

        transition: 100ms ease all;
        border-radius: 10px;
        background: #FFF;

        &:hover {
            transform: scale(1.05, 1.05);
            box-shadow: 0 0 20px rgba(#000, .08);
        }

        div.material-data {
            width: calc(100% - 2px);
            transition: 100ms ease all;
            transform-origin: center center;

            span.material-title {
                word-break: break-word;
            }
        }

        img.preview-image {
            max-width: 100%;
            height: auto;

            z-index: 2;
            transition: 100ms ease all;

            //border-radius: 10px 10px 0 0;
            border: 1px solid rgba(#000, .1);
            border-radius: 10px;

            //box-shadow: 0 0 20px rgba(#000, .05);
        }

        div.description p {
            margin: 0;
            word-break: break-word;

            &:not(:last-child) {
                margin-top: 10px;
            }
        }
    }

    @media screen and (max-width: 720px) {
        flex-direction: column;

        article.material {
            width: 100%;

        }
    }
}