div.title-page {
    div.content-wrapper {
        width: 100%;
    }

    header.control-panel {
        position: fixed;
        display: block;
        width: 100%;
        height: fit-content;

        background: linear-gradient(45deg, #4DA167, #528067);
        color: lighten(#4DA167, 47%);

        padding: 20px;

        div.title-content {
            div.icon-holder img {
                position: relative;
                display: block;
                width: 48px;
                height: auto;

                filter: drop-shadow(0 0 4px rgba(#000, .1));
            }

            span.title-text {
                font-size: 18px;
            }
        }

        div.menu-content {
            margin-left: auto;
        }
    }
}