div.title-page {
    position: relative;
    display: flex !important;
    width: 100vw;

    flex-direction: column;

    div.header-holder {
        z-index: 3;
        flex: 0 1 auto;
    }

    div[class$="holder"] {
        position: relative;
        width: 100%;
    }

    div.content-holder {
        min-width: 100%;
        z-index: 2;

        flex: 1 1 auto;
    }

    div.footer-holder {
        z-index: 1;
        flex: 0 1 auto;
    }
}