@import "../title-page/latest-materials/latest-materials";

div.materials-search {
    width: 100%;
    padding: 20px;

    span.info-label {
        margin: 40px 0;
    }

    a[href].g-link {
        padding: 3px;
        line-height: 24px;
        transition: 100ms ease all;
        color: #2D5041;
        border-radius: 3px;

        background: rgba(#3E725B, .1);

        &:hover {
            background: rgba(#3E725B, .2);
        }
    }

    a.material-link {
        position: relative;
        display: block;
    }

    a.material-link.hidden article.material {
        display: none !important;
    }

    div.materials-list {
        width: 100%;

        padding: 20px 0;
        gap: 20px;

        a {
            color: #222;
        }

        div.materials-container {
            margin-bottom: 40px;
        }

        article.material {
            max-width: 400px;
            height: fit-content;

            border: 1px solid rgba(#000, .1);
            background: transparent;

            &:hover {
                transform: scale(1.02, 1.02);
                box-shadow: 0 0 20px rgba(#000, .08);
            }
        }
    }

    div.materials-loading-spinner {
        position: fixed;
        bottom: 0;
        left: 0;

        padding: 10px;
        z-index: 89;

        div.wrapper {
            padding: 20px;
            color: #FFF;
            border: 1px solid rgba(#000, .1);

            border-radius: 10px;
            background: rgba(#222, .75);
            backdrop-filter: blur(4px);
        }

        i.ui.loading-spinner {
            filter: invert(100%);
        }

        @media screen and (max-width: 560px) {
            top: 0;
            bottom: unset;
        }
    }

    div.input-component {
        //max-width: 820px;

        div.wrapper input.native-input,
        &:not(.focus) div.placeholder,
        div.icon-holder {
            background-color: #EEE;
        }

        &.focus {
            div.wrapper, div.icon-holder {
                box-shadow: 0 0 0 3px rgba(darken(#A5CEBB, 10%), .5);
            }
        }
    }
}
