@import "../../shared/common";

// Stylesheet for Button component
button.button-component
{
    @include use-transition();
    @include content-block();

    div.loading-spinner
    { position: absolute; opacity: 0; transition: inherit }

    span.button-label
    { opacity: 1; transition: inherit }

    &.ellipsis
    {
        justify-content: flex-start;
        align-items: flex-start;
        overflow: hidden;

        span.button-label
        {
            position: relative;
            display: block;

            max-width: 100%;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &.loading
    {
        pointer-events: none;
        background-color: #eee;

        div.loading-spinner
        { opacity: 1 }

        span.button-label
        { opacity: 0 }
    }

    &.exception
    {
        pointer-events: none;

        border: 3px solid rgba(#e02d18, .12);
        background-color: rgba(#e02d18, .12);

        animation: button-loading-exception 300ms ease forwards;
    }

    &[disabled]
    {
        opacity: .5;
        pointer-events: none;
    }
}

// Additional error animation for button
@keyframes button-loading-exception
{
    0%
    { transform: translateX(0) }

    33%
    { transform: translateX(-4px) }

    66%
    { transform: translateX(4px) }

    100%
    { transform: translateX(0) }
}
