$default-dark: #1a1a1d;
$default-light: #e5deba;
$default-link: #3da9e2;
$default-light-gray: #f6f6f6;

// Common transition mixin (should be used by all elements to provide fast change ability)
@mixin use-transition($time: 100ms)
{
    transition: $time ease all;
}

// Scalable flex content block with or without scroll ability
@mixin content-block($justifyContent: center, $alignItems: center, $scrollable: false, $flexDirection: column)
{
    position: relative;
    display: flex;

    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-direction: $flexDirection;

    width: 100%;

    // If scroll ability required
    @if $scrollable
    {
        // Allow scroll by y axis
        overflow: hidden;
        overflow-y: auto;

        // Set block max height
        height: 100%;
        max-height: 100%;
    } @else
    {
        // Disable max height if no scroll required
        height: fit-content;
    }
}

// Not scalable flex content block with or without scroll ability and with default-disabled centering
@mixin static-content-block($justifyContent: unset, $alignItems: unset, $scrollable: false, $flexDirection: column)
{
    @include content-block($justifyContent, $alignItems, $scrollable, $flexDirection);

    @if not $scrollable
    {
        overflow: hidden;

        max-height: 100%;
        height: 100%;
    }
}

div.loading-spinner
{
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;

    width: 16px;
    height: 16px;

    min-width: 16px;
    min-height: 16px;

    border-radius: 50%;
    border: 2px solid rgba($default-dark, .75);

    animation: loading-spinner-spin 1s linear infinite;

    &::after
    {
        content: "";

        position: absolute;

        width: calc(100% - 8px);
        height: calc(100% - 8px);

        opacity: .5;

        border: 2px solid rgba($default-dark, .65);
        border-radius: 50%;

        animation: loading-spinner-spin 1.5s linear infinite;
    }
}

// Animation keyframes for loading spinner
@keyframes loading-spinner-spin
{
    0%
    { transform: rotate(0); border-color: rgba($default-dark, .75); border-bottom-color: transparent }

    50%
    { border-color: rgba($default-dark, .7); border-bottom-color: transparent }

    100%
    { transform: rotate(360deg); border-color: rgba($default-dark, .75); border-bottom-color: transparent }
}
