@import "../../common";

// Stylesheet for materials search component
div.materials-search
{
    @include content-block(flex-start, flex-start);

    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;

    max-width: 760px;

    padding: 10px;

    div.input
    { width: 100% }

    button.button-component
    { min-width: fit-content; min-height: 44px }
}