div.root-form {
    overflow: hidden;
    background: #CCC;

    div.content-wrapper.ui.flex.row {
        overflow: hidden;
        width: 100%;

        height: 100%;

        div.loading-wrapper {
            position: absolute;

            top: 0;
            left: 0;

            z-index: 290;
            width: 100%;

            height: 100%;
            //background: rgba(#D1D1D1, .1);
            transition-delay: 100ms;
            pointer-events: none;

            opacity: 0;

            i.ui.loading-spinner {
                width: 36px;
                height: 36px;
                opacity: .75;
            }

            &.display {
                pointer-events: all;
                opacity: 1;
            }
        }

        div.editor-navigation-panel.ui.flex.column {
            position: relative;
            left: 0;

            overflow: hidden;
            overflow-y: auto;
            width: 380px;
            min-width: 380px;

            max-width: 380px;
            height: 100%;
            transition: 200ms ease all;


            border-right: 1px solid rgba(#000, .05);
            background: #D1D1D1;

            backdrop-filter: blur(6px);

            &.waiting > div:not(.loading-wrapper) { filter: blur(6px); }

            & > div:not(.loading-wrapper) { transition: 100ms ease all; }

            div[role="tablist"] {
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;

                button[role="tab"] {
                    overflow: hidden;
                    width: 100%;

                    height: 58px;
                    padding: 20px;

                    cursor: pointer;

                    transition: 100ms ease all;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    opacity: .5;
                    border: none;
                    //border-radius: 10px;
                    background: rgba(#fff, 1);

                    &:last-child {
                        border-radius: 0 10px 10px 0;
                    }

                    &:first-child {
                        border-radius: 10px 0 0 10px;
                    }

                    &:hover {
                        background: rgba(#eee, 1);
                    }

                    &[aria-selected="true"] {
                        pointer-events: none;
                        opacity: 1;
                        color: rgba(darken(#0050C9, 10%), .8);
                        background: rgba(#0066FF, .16);
                    }
                }
            }

            div.relative-items-list {
                margin-top: 10px;
            }
        }

        div.editor-edit-view {
            overflow: hidden;
            overflow-y: auto;

            width: 100%;
            transition: 200ms ease all;
        }

        button.show-mobile-menu {
            position: fixed;
            display: none;

            right: 30px;
            bottom: 30px;

            font-size: 28px;

            width: 48px;

            height: 48px;
            padding-top: 2px;
            transition: 100ms ease all;

            border-radius: 50%;

            place-items: center;

            &:not(.mobile-hidden) {
                transform: rotate(90deg);
            }
        }

        @media screen and (max-width: 1000px) {
            div.editor-navigation-panel.ui.flex.column {
                position: absolute;
                bottom: 0;
                z-index: 120;
                width: 100%;

                min-width: 100%;
                max-width: 100%;
                background: rgba(#D1D1D1, .2);

                &.mobile-hidden {
                    //left: calc(-10%);
                    bottom: -10%;
                    transform: scale(0.8, 0.8);
                    transform-origin: right;
                    pointer-events: none;
                    opacity: 0;
                }
            }

            button.show-mobile-menu {
                display: grid;
                z-index: 130;
            }
        }
    }


    div.initial-form div.search-cheatsheet {
        width: fit-content;
        //text-align: left;

        span.section-title {
            font-size: 14px;
            font-weight: 700;
            margin-top: 10px;
        }

        table.items-list {
            font-size: 14px;
            line-height: 22px;
            border-spacing: 10px;

            text-align: left;

            color: #333;
            gap: 10px;

            code {
                padding: 3px;
                border-radius: 3px;
                background: rgba(#000, .1);
            }

            td:nth-child(1) {
                text-align: right;
            }
        }
    }
}