div.ui.page-container, div.title-page {
    button.button-component.interactive {
        background: lighten(#A5CEBB, 16%);

        span.text {
            color: darken(#35624E, 10%);
        }

        &:focus, &:active, &.focus, &.value {
            box-shadow: 0 0 0 3px rgba(#A5CEBB, .4) !important;
        }
    }
}

div.ui.container.title-page {
    overflow: hidden;
    overflow-y: auto;

    section.title-content {
        width: 100%;
        height: fit-content;
        min-height: 90vh;
        padding: 20px;
        overflow: hidden;
        word-break: break-word;

        a.header-logo-component.mobile-title.ui.flex.row.center.gap-20.padding-20.border-radius-10 {
            width: 100%;
            max-width: 100%;
            margin: 0;

            transform: translateY(30px);
            color: #A5CEBB;
            border: none;
            background: transparent;

            backdrop-filter: none;

            h1 {
                font-size: 24px;
                font-weight: 700;
                white-space: normal;
            }
        }

        a.button-holder {
            width: fit-content;
            margin-left: auto;
            text-decoration: none;
            border-radius: 10px;
            background: transparent;
        }

        gap: 20px;

        div.background-cover {
            background-repeat: no-repeat;
            background-position: center center;

            background-size: cover;
            filter: brightness(24%);
        }

        article {
            width: 100%;
            max-width: 980px;

            padding: 20px;
            transition: 100ms ease all;
            color: lighten(#A5CEBB, 15%);
            border-radius: 10px;

            a {
                padding: 2px;
                color: #A5CEBB;
                border-radius: 4px;
                background: rgba(darken(#A5CEBB, 10%), .08);
            }
        }

        article.pinned-material {
            border: 1px solid rgba(#A5CEBB, .1);
            background: rgba(#A5CEBB, .04);
            //backdrop-filter: blur(4px);

            &:hover {
                background: rgba(#A5CEBB, .1);
            }

            a.material-wrapper {
                flex-direction: row;
                text-decoration: none;
                color: lighten(#A5CEBB, 12%);
                background: transparent;

                gap: 20px;

                @media screen and (max-width: 940px) {
                    flex-direction: column;

                    img.preview-image {
                        width: fit-content;
                        max-width: 100%;
                        margin: 0 auto;
                    }
                }
            }

            img.preview-image {
                width: auto;
                height: 100%;
                max-height: 280px;

                border-radius: 10px;
            }

            span.title {
                font-size: 38px;
                font-weight: 700;
                text-decoration: underline;
            }

            div.description {
                margin-top: 10px;

                font-size: 18px;
                line-height: 24px;

                opacity: .8;

                p { margin: 0; }
            }
        }

        article.important-data {
            opacity: .85;
            gap: 10px;

            span.title {
                font-weight: 700;
                //font-size: 20px;
                text-transform: uppercase;
                opacity: .65;
            }

            p {
                margin: 0;
                line-height: 24px;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }

        article.social-content {
            margin-top: 60px;
            flex-direction: row;

            a.social-icon {
                width: fit-content;
                height: 36px;
                padding: 10px;
                transition: 100ms ease all;
                color: #EEE;
                border-radius: 20px;
                background: linear-gradient(45deg, rgba(#3E725B, .95), rgba(#549477, .98));

                gap: 0;

                &::before {
                    position: absolute;
                    display: block;

                    width: calc(100% + 20px);
                    height: calc(100% + 20px);

                    top: -10px;
                    left: -10px;

                    content: "";
                    border-radius: 30px;
                }

                & > div.icon-holder {
                    width: 16px;
                    height: 16px;

                    overflow: hidden;
                    filter: invert(95%) sepia(68%) saturate(7352%) hue-rotate(187deg) brightness(127%) contrast(87%);

                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }

                span.label {
                    font-size: 0;
                    transition: inherit;
                    opacity: 0;
                }

                &:hover, &.open {
                    gap: 10px;

                    span.label {
                        font-size: 16px;
                        opacity: 1;
                    }
                }
            }

            div.external-menu-buttons {
                margin-left: auto;

                button {
                    width: fit-content;
                }
            }
        }

        @media screen and (max-width: 630px) {
            article.social-content {
                flex-direction: column-reverse;
                gap: 40px;

                div.external-menu-buttons {
                    margin: 0 auto;

                    a.button-holder {
                        margin: 0 auto;
                    }
                }

                div.social-icons-holder {
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}