@import "../../shared/common";

// Style sheet for FileUploader component
div.file-uploader-component
{
    @include content-block(flex-start, flex-start);

    width: fit-content;
    align-items: flex-start;
    gap: 10px;

    // Styles for files selector
    div.group-component.semi-transparent
    {
        @include use-transition();
        @include content-block(flex-start, flex-start);

        border: 1px dashed rgba(#000, .1);
        max-width: 460px;

        cursor: pointer;

        &:hover
        { background-color: rgba(#111, .04) }

        &:active, &.drag
        { background-color: rgba(#111, .06) }

        &.disabled
        { pointer-events: none }

        span.group-title
        { font-size: 14px; pointer-events: none; }

        div.group-content
        {
            @include content-block(center, flex-start);
            gap: 15px;

            pointer-events: none;

            span.upload-hint
            { font-size: 14px; opacity: .45; font-weight: 600 }
        }

        div.files-uploading-progress
        {
            @include use-transition(300ms);

            position: absolute;
            display: block;

            top: 0;
            left: 0;

            height: 100%;

            background: linear-gradient(to right, rgba($default-link, .1), rgba($default-link, .2));

            pointer-events: none;

            &.complete
            { background-color: rgba(green, .1) }

            &.final-in
            { opacity: 0 }

            &.final-out
            { transition: 0ms }
        }
    }

    div.file-entry
    {
        @include content-block(flex-start, center);
        flex-direction: row;

        gap: 10px;

        max-width: 100%;

        i.icon
        {
            min-width: 14px;
            min-height: 14px;

            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        span.file-name
        { opacity: .65; font-size: 12px; font-weight: 600 }
    }
}
