div.view {
    width: 100%;
    height: 100%;
    min-height: 100%;

    div.view-content-wrapper {
        overflow: hidden;
        overflow-y: auto;
        width: fit-content;
        height: 100%;
    }

    textarea {
        resize: none;
    }
}

div.initial-view {
    table {
        border-spacing: 10px;

        td:first-child {
            font-size: 14px;

            font-weight: 700;
            text-align: right;
            white-space: nowrap;
            color: rgba(#000, .8);

            code {
                padding: 3px;
                border-radius: 3px;
                background: rgba(#000, .12);
            }
        }

        td:last-child {
            text-align: left;
        }
    }
}

div.view.files-view {
    div.file-controls {
        position: absolute;
        bottom: 10px;
        left: 10px;

        width: fit-content;

        max-width: calc(100% - 20px);
        padding: 10px;
        border: 1px solid rgba(#000, .1);
        border-radius: 10px;

        background: rgba(#ddd, .45);
        backdrop-filter: blur(7px);

        gap: 20px;

        button {
            min-width: fit-content;
            white-space: nowrap;
        }
    }

    div.object-preview {
        margin-bottom: 108px;
        padding: 20px;
    }

    img.object-preview {
        max-width: 100%;
        max-height: 100%;
    }
}

div.view.variable-view {
    div.view-content-wrapper {
        overflow: hidden;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
    }

    textarea {
        width: 100%;
        height: 100%;
    }

    div.variable-controls {
        position: relative;
        display: flex;

        flex-direction: row;
        height: fit-content;
        min-height: fit-content;
        margin-top: 10px;

        span.save-hint {
            max-width: calc(100% - 160px);
        }

        button {
            width: fit-content;
            margin-left: auto;
        }
    }

    @media screen and (max-width: 540px) {
        div.variable-controls {
            flex-direction: column;
            gap: 10px;

            span.save-hint {
                max-width: 100%;
            }

            button {
                margin-left: 0;
            }
        }
    }
}

div.view.material-view {
    div.view-content-wrapper {
        padding: 20px 20px 100px;

        textarea {
            line-height: 22px;
            height: 200px;
            min-height: 200px;
            margin-bottom: 20px;

            padding: 20px;

            opacity: .8;
        }

        div[id="editor-js-holder"] {
            padding: 20px;
            border-radius: 10px;

            background: rgba(#fff, .7);
            margin-bottom: 10px;

            div.codex-editor__redactor {
                padding-bottom: 100px !important;

                textarea.ce-rawtool__textarea.cdx-input {
                    font-size: 14px;
                }

                a[href] {
                    color: darken(#0050C9, 10%);
                    opacity: .75;
                    transition: 100ms ease;

                    &:hover { opacity: 1; }
                }

                div.ce-block__content {
                    max-width: 650px !important;

                    img {
                        border-radius: 10px;
                        box-shadow: 0 0 20px rgba(#000, .08);
                    }
                }

                div.ce-delimiter {
                    &::before {
                        content: "";

                        width: 100%;
                        height: 3px;

                        background: linear-gradient(90deg, transparent, rgba(#000, .5), transparent);
                    }

                    margin: 20px 0;
                }
            }

            //li.ce-toolbox__button[data-tool="list"] { display: none; }
        }

        div.input-component.date-input {
            max-width: 200px;
        }

        div.input-component.identifier-input {
            max-width: 220px;
        }

        div.material-controls {
            position: absolute;
            bottom: 10px;
            left: 10px;

            z-index: 20;
            overflow: hidden;

            overflow-x: auto;
            max-width: calc(100% - 20px);
            padding: 10px;

            border: 1px solid rgba(#000, .1);
            background: rgba(#D1D1D1, .5);

            backdrop-filter: blur(6px);

            button {
                min-width: fit-content;
            }
        }
    }

    @media screen and (max-width: 600px) {
        div.title-and-date.ui.flex.row.margin.optimize.gap {
            flex-direction: column;
        }

        div.view-content-wrapper {
            padding: 0;
        }
    }

    @media screen and (max-height: 500px) {
        div.view-content-wrapper div.material-controls.ui.flex.row.border-radius-10.gap {
            padding: 3px;
        }
    }
}