@import "../../common";

// Style sheet for exceptions handler
div.page-wrapper div.default-exception-handler
{
    @include content-block(center, flex-start);

    max-width: 420px;
    width: fit-content;

    margin: 10px;

    span.handler-title
    {
        font-size: 20px;
        font-weight: 600;

        text-transform: uppercase;
        opacity: .8;
    }

    div.recommendation
    {
        opacity: .9;
        margin: 8px 0;

        font-size: 14px;

        span.group-title
        {
            font-size: 12px;
        }

        code
        {
            user-select: all;
        }
    }
}

// Style sheet for loading handler
div.page-wrapper div.default-loading-handler
{
    @include content-block(center, center, false, row);
    flex-wrap: nowrap;

    gap: 10px;

    div.loading-spinner
    {
        position: relative;
        display: flex;

        justify-content: center;
        align-items: center;

        width: 16px;
        height: 16px;

        border-radius: 50%;
        border: 2px solid rgba(#000, .75);

        animation: loading-spinner-spin 1s linear infinite;

        &::after
        {
            position: absolute;
            content: "";

            width: calc(100% - 8px);
            height: calc(100% - 8px);

            border: 2px solid rgba(#000, .65);
            border-radius: 50%;

            opacity: .5;

            animation: loading-spinner-spin 1.5s linear infinite;
        }

        @keyframes loading-spinner-spin
        {
            0%
            {
                transform: rotate(0);
                border-color: rgba(#000, .75);
                border-bottom-color: transparent;
            }

            50%
            {
                border-color: rgba(#000, .7);
                border-bottom-color: transparent;
            }

            100%
            {
                transform: rotate(360deg);
                border-color: rgba(#000, .75);
                border-bottom-color: transparent;
            }
        }
    }

    span.loading-label
    {
        white-space: nowrap;
        text-wrap: none;

        text-overflow: ellipsis;
        overflow: hidden;

        font-weight: 600;
        opacity: .75;
    }

    animation: loading-opacity-twitching 2s linear infinite;
    @keyframes loading-opacity-twitching
    {
        0%
        {
            opacity: 1;
        }

        50%
        {
            opacity: .6;
        }

        100%
        {
            opacity: 1;
        }
    }
}