div.notifications-holder.ui.container.flex.padding.gap {
    z-index: 110;
    align-items: flex-start;
    justify-content: flex-end;
    pointer-events: none;

    div.notification {
        z-index: 111;
        max-width: 280px;
        cursor: pointer;
        transition: 100ms ease all;
        pointer-events: all;
        opacity: .85;
        color: darken(#093028, 2%);

        &.hidden {
            width: 0;
            height: 0;
            padding: 0;
            opacity: 0;
        }

        &:hover { opacity: .95; }
    }
}