@import "../../../shared/common";

// Styles for MaterialsList component
div.materials-list
{
    // Preview image size basis
    $previewImageSize: 64px;

    @include content-block();
    width: 100%;

    gap: 10px;

    max-width: 660px;

    padding-left: $previewImageSize / 2.4;

    div.material-item
    {
        @include content-block();
        @include use-transition();

        padding: 20px;

        border-radius: 3px;
        gap: 10px;

        cursor: pointer;

        // On while item hovered
        &:hover
        {
            background-color: rgba($default-light, .75);

            div.title-content
            {
                div.preview-image
                {
                    margin-left: (-1 * $previewImageSize / 1.8) - 10px;
                    margin-right: 5px;
                }

                padding-right: 5px;
            }
        }

        // Blurred background image
        div.preview-background-image
        {
            position: absolute;
            display: block;

            width: 100%;
            height: 100%;

            left: 0;
            top: 0;

            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;

            mask-image: linear-gradient(to right, rgba(#000, .3), transparent 80%);
            filter: blur(15px) brightness(120%);

            border-radius: inherit;
        }

        div.title-content, div.material-short-content
        { @include content-block() }

        div.title-content
        {
            @include use-transition();

            flex-direction: row;
            gap: 10px;

            // Preview image holder
            div.preview-image
            {
                @include content-block();
                @include use-transition();

                min-width: $previewImageSize * 1.25;
                width: $previewImageSize * 1.25;

                top: 0;
                left: 0;

                margin-left: -1 * $previewImageSize / 1.8;

                border-radius: 3px;

                box-shadow: 3px 3px 0 0 rgba(#000, .1);

                // Lazy-loaded image
                img
                {
                    position: relative;
                    display: block;

                    width: 100%;
                    height: auto;

                    border-radius: 3px;
                }
            }

            div.title-data
            {
                @include content-block(flex-start, flex-start);
                gap: 5px;

                span.material-title-label
                {
                    white-space: normal;
                    flex-wrap: wrap;

                    word-wrap: break-word;
                    word-break: break-word;

                    font-weight: 600;

                    i.bi
                    { font-size: 16px; opacity: .6; margin-right: 5px }
                }

                span.material-identifier
                {
                    font-size: 14px;
                    opacity: .6;

                    font-weight: 600;
                }

                div.material-tags-list
                {
                    @include content-block(flex-start, flex-start);
                    flex-direction: row;
                    flex-wrap: wrap;

                    gap: 5px;

                    span.material-tag
                    {
                        font-size: 12px;
                        padding: 3px;

                        font-weight: 600;

                        background: rgba(darken($default-link, 20%), .16);
                        color: rgba(darken($default-link, 20%), .75);

                        border-radius: 3px;
                    }
                }
            }
        }
    }

    // OH YES, ITS ADAPTIVE DESIGN
    @media screen and (max-width: 490px)
    {
        padding-left: 0;

        div.material-item
        {
            div.title-content
            {
                div.preview-image
                {
                    $previewImageSize: 7px;

                    margin-left: 0;

                    min-width: $previewImageSize * 10;
                    width: $previewImageSize * 10;
                    box-shadow: unset;
                }
            }

            &:hover
            {
                div.title-content
                {
                    div.preview-image
                    { margin-left: 0; margin-right: 0 }
                }
            }
        }
    }
}
