/*
 * Style sheet for Group component
 */
div.group-component
{
    font-size: inherit;

    border: 1px solid rgba(#000, .03);
    border-radius: 2px;

    background: rgba(#000, .04);
    padding: 10px;

    // Additional component style
    &.semi-transparent {
        background: linear-gradient(-90deg, rgba(#000, .005), rgba(#000, .04));
        border: none;
        border-radius: 3px;
    }

    &.border-only {
        background: transparent;
        border: none;

        padding: 0;
    }

    span.group-title
    {
        font-size: inherit;
        font-weight: 600;

        text-transform: uppercase;

        position: relative;
        display: block;
        width: fit-content;

        margin-bottom: 6px;
        opacity: .75;
    }
}
