@import "../../shared/common";

div.auth-form-wrapper
{
    @include content-block();

    max-width: 100%;
    width: fit-content;

    gap: 20px;

    background-color: #fff;
    padding: 30px;

    border-radius: 3px;

    span.form-title
    {
        font-weight: 600;
        opacity: .6;

        text-transform: uppercase;
    }

    div.form-fields-container, div.form-buttons-container
    {
        @include content-block();
        flex-wrap: nowrap;

        gap: 10px;

        div.text-input
        { width: 100%; }
    }

    div.form-buttons-container
    {
        @include content-block();
        flex-direction: row;
    }
}
