/// I dont want to use tailwind (cuz' tailwind >2.0.1 not supported with WebStorm),
/// so i write my own css styles library

/// This thing must be used with PurgeCSS webpack plugin

.ui.container {
    position: absolute;

    display: grid;

    width: 100%;

    height: 100%;
    top: 0;

    left: 0;
    overflow: hidden;

    &.block { display: block }

    place-items: center;

    .ui.content-wrapper {
        position: relative;
        display: block;

        width: fit-content;
        height: fit-content;

        max-height: 100%;
        overflow: hidden;
        overflow-y: auto;
    }

    .ui {
        textarea, div.textarea {
            padding: 20px;
            overflow-x: auto;
            cursor: text;
            word-break: break-word;

            border-radius: 10px;
            background: #FFF;
        }

        &.relative {
            position: relative;
            display: block;
        }

        &.flex {
            display: flex;
            flex-direction: column;

            &.center { align-items: center; justify-content: center; }

            &.center-jc { justify-content: center; }

            &.center-ai { align-items: center; }

            &.gap { gap: 10px; }

            &.gap-15 { gap: 15px; }

            &.gap-20 { gap: 15px; }

            &.gap-5 { gap: 5px; }

            &.row { flex-direction: row; }

            &.column { flex-direction: column; }

            &.wrap { flex-wrap: wrap; }

            &.no-wrap { flex-wrap: nowrap; }
        }

        &.grid {
            display: grid;

            &.center { place-items: center; }
        }

        &.scroll {
            overflow: hidden;
            overflow-y: auto;
        }

        &.ellipsis {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &.w-100 { width: 100%; }

        &.h-100 { height: 100%; }

        &.h-fit { height: fit-content; }

        &.w-fit { width: fit-content; }

        &.word-break-all { word-break: break-all }

        &.margin { margin: 10px 0; }

        &.margin-bottom { margin-bottom: 10px; }

        &.margin-top { margin-top: 10px; }

        &.margin-15 { margin: 15px 0; }

        &.margin-5 { margin: 5px 0; }

        &.padding { padding: 10px; }

        &.padding-15 { padding: 15px; }

        &.padding-20 { padding: 20px; }

        &.padding-5 { padding: 5px; }

        &.border-radius-10 { border-radius: 10px; }

        &.border-round { border-radius: 50%; }

        &.optimize {
            &:last-child { margin-bottom: 0; }

            &:first-child { margin-top: 0; }
        }

        &.text-center { text-align: center; }

        &.text-left { text-align: left; }

        &.bg-white { background: #FFF; }

        &.color-white { color: #FFF; }

        &.limit-380 {
            width: 100%;
            max-width: 380px;
        }

        &.limit-460 {
            width: 100%;
            max-width: 460px;
        }

        &.limit-1420 {
            width: 100%;
            max-width: 1420px;
        }

        &.limit-1280 {
            width: 100%;
            max-width: 1280px;
        }

        &.fz-14 { font-size: 14px; }

        &.fz-12 { font-size: 12px; }

        &.fz-10 { font-size: 10px; }

        &.fz-20 { font-size: 20px; }

        &.fz-24 { font-size: 24px; }

        &.fz-26 { font-size: 26px; }

        &.fz-28 { font-size: 28px; }

        &.fz-32 { font-size: 32px; }

        &.fz-36 { font-size: 36px; }

        &.fz-42 { font-size: 42px; }

        &.fz-48 { font-size: 48px; }


        &.lh-20 { line-height: 20px; }

        &.lh-22 { line-height: 22px; }

        &.lh-24 { line-height: 24px; }

        &.lh-26 { line-height: 26px; }

        &.lh-28 { line-height: 28px; }

        &.bg-gradient { background: linear-gradient(45deg, #DDD, #CCC); }

        &.transition { transition: 100ms ease all; }

        &.interactive {
            cursor: pointer;
            transition: 100ms ease all;

            color: #333;

            &:hover { opacity: .85; }

            &:focus, &:active, &.focus, &.value {
                opacity: .9;
                box-shadow: 0 0 0 3px rgba(#0066FF, .2);
            }

            &.disabled {
                opacity: .45;
                box-shadow: none;
            }
        }

        textarea.interactive {
            cursor: text;
        }

        button.interactive:focus { opacity: 1; }

        &.clean {
            font-style: normal;
            text-decoration: none;
            border: none;
            outline: none;
        }

        &.loading-spinner {
            position: relative;
            display: block;

            $size: 16px;

            width: $size;
            min-width: $size;

            height: $size;
            min-height: $size;
            margin: 0;

            padding: 0;
            animation: 800ms rotate infinite ease;

            border: 3px solid transparent;
            border-top-color: #333;

            border-radius: 50%;
            background: transparent;
            place-items: center;

            &.dark {
                border-top-color: #333;

                &::after {
                    border-bottom-color: #333;
                    border-left-color: #333;
                }
            }

            &::after {
                position: absolute;
                display: block;
                width: calc(100% - 3px);

                min-width: calc(100% - 3px);
                height: calc(100% - 3px);

                min-height: calc(100% - 3px);
                top: 2px;

                left: 2px;
                margin: 0;

                padding: 0;

                content: "";

                animation-duration: 1s;
                border-top-color: transparent;

                border-bottom-color: #333;
                all: inherit;
            }

            @keyframes rotate {
                from { transform: rotate(0deg); }
                to { transform: rotate(360deg); }
            }
        }

        &.badge { padding: 3px; border-radius: 3px; background: rgba(#000, .2); }

        &.title {
            font-size: 38px;
            font-weight: 700;

            opacity: 1;
        }

        &.opacity-100 { opacity: 1; }

        &.opacity-95 { opacity: .95; }

        &.opacity-85 { opacity: .85; }

        &.opacity-75 { opacity: .75; }

        &.opacity-65 { opacity: .65; }

        &.opacity-50 { opacity: .5; }

        &.sub-title { opacity: .75; }

        &.upper { text-transform: uppercase; }

        .link {
            padding: 3px;
            transition: 100ms ease all;

            color: #0050C9;
            border-radius: 3px;
            background: rgba(#0050C9, .15);

            &:hover {
                background: rgba(#0050C9, .25);
            }
        }

        &.disabled {
            pointer-events: none;
            opacity: .45;
            box-shadow: none;
        }
    }
}