@import "../../../shared/common";

// Styles for cms side menu
div.side-menu-wrapper
{
    $width: 120px;

    height: 100%;

    width: $width;
    min-width: $width;
    max-width: $width;

    background: rgba(#000, .05);

    button.side-menu-item
    {
        @include content-block();
        @include use-transition();

        width: $width;
        height: fit-content;

        opacity: .5;
        padding: 20px 0;

        background: transparent;
        border: 3px solid transparent;

        cursor: pointer;

        span.item-title
        {
            display: block;
            pointer-events: none;

            opacity: .85;

            font-size: 12px;
            text-transform: uppercase;

            font-weight: 600;
        }

        i.bi
        { pointer-events: none; font-size: 28px }

        &:hover, &.selected
        {
            opacity: 1;

            padding: 30px 0;

            background: transparent;
            border-color: rgba(#000, .3);
        }

        &.selected
        {
            pointer-events: none;

            padding: 40px 0;

            background-color: $default-light;
            border-color: $default-light;

            span.item-title, i.bi
            { color: darken($default-light, 50%) }
        }
    }
}
