// Styles for lazy loading component
figure.lazy-load-image
{
    position: relative;
    display: block;

    width: 100%;

    margin: 0;
    padding: 0;

    height: min-content;

    img
    { border-radius: inherit }

    img.placeholder
    {
        position: absolute;

        width: 100%;
        height: auto;

        pointer-events: none;
    }

    img.image
    {
        position: relative;

        width: 100%;
        height: auto;
    }
}